.env

venv/
.venv/
*/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
media/
staticfiles/
.DS_Store
.idea/
.vscode/
*.log
coverage/
htmlcov/
*.egg-info/
dist/

notebook_env/
app/db/Combined Data.csv
fine_tuned_distilbert/
student_db.db
chat_memory.json
app/db/private.json
app/db/students.json
app/db/otp.json
app/db/users.json
